<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.entity.Customer">
	<resultMap id="customerMap" type="com.portal.entity.Customer">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
        <result column="id_card_number" property="idCardNumber" jdbcType="VARCHAR" />
		<result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	 	 
	</resultMap>

	<insert id="insert" parameterType="com.portal.entity.Customer"
		useGeneratedKeys="true" keyProperty="id">
		insert into customer (id,name,mobile_phone,email,gender,create_time,update_time,id_card_number) 
  		values (#{id},#{name},#{mobilePhone},#{email},#{gender},#{createTime},#{updateTime},#{idCardNumber})
	</insert>
  
    <delete id="deleteById" parameterType="long">
      delete from customer where id = #{id}
    </delete>

	<update id="update" parameterType="com.portal.entity.Customer">
		update customer
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="mobilePhone != null">
				mobile_phone = #{mobilePhone},
			</if>
            <if test="idCardNumber != null">
              id_card_number = #{idCardNumber},
            </if>
			 
			<if test="email != null">
				email = #{email},
			</if>
			<if test="gender != null">
				gender = #{gender},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			 <if test="updateTime != null">
                update_time = #{updateTime},
              </if>
		</set>
		where id = #{id} 
	</update>

	 
 
	<select id="findById" parameterType="long" resultMap="customerMap">
		 select * from customer where id = #{id}

	</select>
	
  <select id="findByPhone"   resultMap="customerMap">
     select * from customer where mobile_phone = #{mobilePhone}

  </select>
	 
</mapper>
